@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a href="https://fusionauth.io"><img src="images/FusionAuth.jpg" alt="FusionAuth"></a>
    </div>
</div>
