@page "/"
@inject AuthenticationStateProvider AuthState
@attribute [Authorize]


<PageTitle>Index - FusionAuth</PageTitle>

<h1>Hello</h1>

<p>If you see this, you're logged in with FusionAuth.</p>
<br />
Here are all the claims for your user:

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

@code {
    private System.Security.Claims.ClaimsPrincipal? User = null;

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthState.GetAuthenticationStateAsync();

        User = state.User;

        await base.OnInitializedAsync();
    }
}